<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: html(content=~{::section}, link=~{::link}, title=~{::title})}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Coffee Menu</title>
    <link rel="stylesheet" th:href="@{/coffee-menu.css}" />
</head>
<body>
<section>
    <h1>Starbucks Coffee Menu</h1>
    <div class="card-grid">
        <div th:each="coffee : ${coffees}">
            <div th:replace="components/coffee-card :: coffeeCardFragment(coffee=${coffee})"></div>
        </div>
    </div>
</section>
</body>
</html>
